{deps, [{accept, "0.1.0"}]}.

{profiles, [{test, [{deps, [{elli, "2.0.0"},
                            {prometheus, "3.1.0"}]}]},
            {docs, [{deps, [{elli, "2.0.0"},
                            {prometheus, "3.1.0"},
                            {edown, "0.8.1"}]}]}
]}.

{edoc_opts, [
  {doclet, edown_doclet},
  {todo,   true},
  {source_path, [
    "src",
    "_build/test/lib/elli",
    "_build/docs/lib/prometheus"
  ]}
]}.
