{profiles, [
  {test, [{deps, [{elli, {git, "https://github.com/elli-lib/elli.git", {branch, "develop"}}},
                  {prometheus, "3.0.0-rc1"}]}]},
  {docs, [{deps, [{elli, {git, "https://github.com/elli-lib/elli.git", {branch, "develop"}}},
                  {prometheus, "3.0.0-rc1"},
                  {edown, "0.8.1"}]}]}
]}.

{edoc_opts, [
  {doclet, edown_doclet},
  {todo,   true},
  {source_path, [
    "src",
    "_build/test/lib/elli",
    "_build/docs/lib/prometheus"
  ]}
]}.
