{deps, [{accept, "0.3.0"}]}.

{xref_checks, [undefined_function_calls,locals_not_used]}.

{dialyzer, [{base_plt_apps, [elli]}]}.

{profiles, [{test, [{deps, [{elli, "2.0.0"},
                            {prometheus, "3.1.0"}]}]},
            {docs, [{deps, [{elli, "2.0.0"},
                            {prometheus, "3.1.0"},
                            {edown, "0.8.1"}]}]}
]}.

{edoc_opts, [
  {application, elli_prometheus},
  {subpackages, false},
  {doclet, edown_doclet},
  {todo,   true},
  {doc_path, ["http://raw.github.com/elli-lib/elli/develop/doc",
              "http://raw.github.com/deadtrickster/prometheus.erl/master/doc"]},
  {source_path, [
    "src",
    "_build/test/lib/elli",
    "_build/docs/lib/prometheus"
  ]}
]}.

{project_plugins, [
  {coveralls, "1.3.0"},
  {rebar3_lint, "0.1.7"}
]}.

{provider_hooks, [{pre, [{eunit, lint}]}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
%% {cover_excl_mods, []}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
